.block
    &.red, .red &
        background-color #EF5350
        &::before
            background-color #F44336
        &::after
            background-color #D32F2F

    &.pink, .pink &
        background-color #EC407A
        &::before
            background-color #E91E63
        &::after
            background-color #C2185B

    &.purple, .purple &
        background-color #AB47BC
        &::before
            background-color #9C27B0
        &::after
            background-color #7B1FA2

    &.deep_purple, .deep_purple &
        background-color #7E57C2
        &::before
            background-color #673AB7
        &::after
            background-color #512DA8

    &.indigo, .indigo &
        background-color #5C6BC0
        &::before
            background-color #3F51B5
        &::after
            background-color #303F9F

    &.blue, .blue &
        background-color #42A5F5
        &::before
            background-color #2196F3
        &::after
            background-color #1976D2

    &.light_blue, .light_blue &
        background-color #29B6F6
        &::before
            background-color #03A9F4
        &::after
            background-color #0288D1

    &.cyan, .cyan &
        background-color #26C6DA
        &::before
            background-color #00BCD4
        &::after
            background-color #0097A7

    &.teal, .teal &
        background-color #26A69A
        &::before
            background-color #009688
        &::after
            background-color #00796B

    &.green, .green &
        background-color #66BB6A
        &::before
            background-color #4CAF50
        &::after
            background-color #388E3C

    &.light_green, .light_green &
        background-color #9CCC65
        &::before
            background-color #8BC34A
        &::after
            background-color #689F38

    &.lime, .lime &
        background-color #D4E157
        &::before
            background-color #CDDC39
        &::after
            background-color #AFB42B

    &.yellow, .yellow &
        background-color #FFEE58
        &::before
            background-color #FFEB3B
        &::after
            background-color #FBC02D

    &.amber, .amber &
        background-color #FFCA28
        &::before
            background-color #FFC107
        &::after
            background-color #FFA000

    &.orange, .orange &
        background-color #FFA726
        &::before
            background-color #FF9800
        &::after
            background-color #F57C00

    &.deep_orange, .deep_orange &
        background-color #FF7043
        &::before
            background-color #FF5722
        &::after
            background-color #E64A19
    &.brown, .brown &
        background-color #8D6E63
        &::before
            background-color #795548
        &::after
            background-color #5D4037
    &.grey, .grey &
        background-color #BDBDBD
        &::before
            background-color #9E9E9E
        &::after
            background-color #616161
    &.blue_grey, .blue_grey &
        background-color #78909C
        &::before
            background-color #607D8B
        &::after
            background-color #455A64